

<div class="w-full text-center  flex justify-between px-8 py-6">
  <button mat-raised-button color="primary" (click)="goToDateComponent()">Date Format</button>
  <button mat-raised-button color="primary" (click)="openFullScreen()" >
    Full Screen
  </button>
  <button mat-raised-button color="primary" (click)="goToTable()">Table</button>
  <button mat-raised-button color="primary" (click)="goToTableOne()">Table One</button>
  <button mat-raised-button color="primary" (click)="goToTableTwo()">Table Two</button>
  <button mat-raised-button color="primary" (click)="goToTableThree()">Table Three</button>
  <button mat-raised-button color="primary" (click)="goToTableFour()">Table Four</button>

  <div class="bg-[#4B8DF8] px-6 py-2">
 <span class="material-symbols-outlined p-1.5 border-2 rounded-md border-white " style="color: white;">pan_zoom</span>
  </div>

  <div class=" px-6 py-2">
    <span class="material-symbols-outlined p-1.5 border-2 rounded-md border-black " >pan_zoom</span>
     </div>
</div>

<div>
  									
<div>
  <span class="material-symbols-outlined " color="white">
    pan_zoom
    </span>
   
    <!-- <i class="fa fa-expand" aria-hidden="true"></i> -->
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
</div>


<div class="w-full flex justify-center">
  <button mat-raised-button color="primary" (click)="goToNestedList()">Nested List</button>
</div>


<router-outlet />