

<div class="w-full text-center  flex justify-between px-8 py-6">
  <button mat-raised-button color="primary" (click)="goToDateComponent()">Date Format</button>
  <button mat-raised-button color="primary" (click)="openFullScreen()">Full Screen</button>
  <button mat-raised-button color="primary" (click)="goToTable()">Table</button>
  <button mat-raised-button color="primary" (click)="goToTableOne()">Table One</button>
  <button mat-raised-button color="primary" (click)="goToTableTwo()">Table Two</button>
  <button mat-raised-button color="primary" (click)="goToTableThree()">Table Three</button>
  <button mat-raised-button color="primary" (click)="goToTableFour()">Table Four</button>
</div>


<router-outlet />